@tailwind base;
@tailwind components;
@tailwind utilities;

body { background: #e6e6e6; }
.topbar {
  background: #c8102e;
}
.card-black {
  background: #0b0b0b;
  color: #fff;
}
.rounded-outline {
  border-radius: 12px;
  border: 4px solid #111;
}
.calendar-day {
  color: #7fb8c9;
}
